{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="spec_event_info" class="container">
        <h2 style="color: rgb(244, 164, 27)">{{ event.title }}</h2>
        <small>Brought to you by:{{ event.author }}</small><br>
        <hr>
        <h3 style="color: rgb(244, 164, 27)"> Date:</h3>
        <p>{{ event.date }}</p>
        <hr>
        <h3 style="color: rgb(244, 164, 27)"> Venue:</h3><p>{{ event.venue }} -> {{ event.city }}</p>
        <hr>
        <h3 style="color: rgb(244, 164, 27)">details:</h3> - <p><small><small>{{ event.details }}</small></small></p>
        <hr>
        <h3 style="color: rgb(244, 164, 27)"> Genres:</h3>
        {% for genre in event.genres.all %}
        <small><small><p>{{genre.name}}</p></small></small>
        {%endfor%}
        <hr>
        <h3 style="color: rgb(244, 164, 27)"> Website:</h3>
        <h3 style="color: rgb(104, 218, 222)">For more info:<a href="{{ event.my_link }}" target="_blank" rel="noopener"
            aria-label="visit our home page (Opens in new tab)"><u style="color: rgb(244, 164, 27)"><br>CLICK!</u></a></h3>
    </div>
{% endblock %}


