{% extends "base.html" %}

{% block title %}List of events{% endblock %}

{% block content %}
<section class="hero-img">
    <div class="container">
        {% for events in event %}
            <h2>{{ events.title }}</h2>
            <p>Brought to you by: {{ events.author }}</p>
            <hr>
            {{ events.content|truncatewords:50|linebreaks }}
        {% endfor %}
    </div>
</section>
{% endblock %}


<!--
<div class="container">
    <form class="search" action="">
        <input type="search" placeholder="Search here..." required>
        <input type="search" placeholder="Search here..." required>
        <input type="search" placeholder="Search here..." required>
        <button type="submit">Search</button>
    </form>
</div>
-->