{% extends "base.html" %}

{% block title %}List of events{% endblock %}

{% block content %}
    <section class="hero-img">
            <!--Read about option element here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option-->
            <form class="search" action="." method="POST">
                    <select name="genre" id="search_genre">
                        <option value="-1"> Filter by genre </option>
                        {% for genre in genre_list %}
                            <option value="{{genre.id}}">{{genre.name}}</option>
                        {%endfor%}
                    </select>
                    <select name="city" id="search_city">
                        <option value="-1"> Filter by city </option>
                        {% for city in city_list %}
                            <option value="{{city.id}}">{{city.name}}</option>
                        {%endfor%}
                    </select>
                    {% csrf_token %}
                    <button id="search_button" type="submit">Search</button>
            </form>
        <div class="container" id="main_event_info">
            <h3>{{searched_by}}</h3>
            <hr>
            {% for event in event_list %}
                <h2>{{ event.title }}</h2>
                <p>Brought to you by: {{ event.author }}</p>
                <hr>
                {{ event.content|truncatewords:50|linebreaks }}
                {% empty %}
                <h4>No events found for your search</h4>
            {% endfor %}
        </div>
    </section>
{% endblock %}
